# Dependencies
node_modules/

# Angular
.angular/
dist/
tmp/
out-tsc/
bazel-out/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Test coverage
coverage/

# Build outputs
*.tsbuildinfo
